h1{
    margin-top: 70px;
    font-size: 7rem;
}

.headline_wrapper{
    border: #191919 solid 1.5px;
    height: 800px;
    overflow: hidden;
    width: 100%;


}

.headline{
    display: flex;
overflow: hidden;


}

.headline h1{
    display: flex;
    gap: 6rem;
}

.headline h1 span{
    position: absolute;
    left: 100%;
    animation-name: reel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.span2{
    animation-delay: 2.5s;
}

.span3{
    animation-delay: 5s;
}
.span4{
    animation-delay: 7.5s;
}




@keyframes reel{
    from{
        left:100%
    }
    to {
        left:-50%;
    }
}



.overskrift{
    overflow: hidden;
}
