img{
    width: 100%;
box-sizing: border-box;
}

body{
    background-color: #f7f6f1;
    height: 3000px;
    margin: 0;
}


header {
    background-color:#f7f6f1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }

  li {
    list-style: none;
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#191919;
    font-size: 1.2rem;
  
  }

  li :hover{
    transition: 2s ease;
border-bottom: #191919 solid 5px;
transition: 0.5s;
  }

  
  
  a {
    color:#191919;
    text-decoration: none;

  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: #191919 solid 1.5px;

  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;

  }
  
  .nav-branding {
    font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    padding-right: 2rem;
color: #191919;
  }

  
  .nav-link {
    transition: 0.7 ease;
  }
  

  
  .hamburger {
    display: none;
    cursor: url(img/custom_cursor_green_hover.svg), auto;
  }
  
  @media (max-width: 800px) {
    .hamburger {
      display: block;
    }
  
    li {
      list-style: none;
      font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 100;
      font-style: normal;
      color: var(--primary);
      font-size: 2rem;
      cursor: url(img/custom_cursor_pink.svg), auto;
    }
  
    .bar1 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--primary);
    }
    .bar2 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--primary);
    }
    .bar3 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--primary);
    }
  
    .bar2.active {
      opacity: 0;
    }
  
    .bar1.active {
      transform: translateY(8px) rotate(45deg);
    }
  
    .bar3.active {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu {
      position: fixed;
      transform: translatex();
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color:#191919;
      width: 100%;
      text-align: center;
    }
  
    .nav-item {
      margin: 16px;
    }
  
    .nav-menu.active {
      left: 0;
    }
  }

  
h1{
    color: #191919;
    font-family: roc-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
text-transform: uppercase;
margin: auto;
}
.heading_img_wrapper{
  height: 500px;
}

.heading_wrapper{
  overflow: hidden;
  height: 160px;
  width: 100%;
  border-bottom: #191919 solid 1.5px;
  border-top: #191919 solid 1.5px;
padding: 0;
}

.heading_text{
animation-name: reel;
animation-duration: 5s;
}




h2{
    color: #191919;
    font-family: roc-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
  font-size: 4rem;
    margin-left: 53%;
    margin-bottom: -8px;
    margin-right: 2rem;
    text-align: end;
    margin-top: 4rem;
}





/******Projekter*****/

.wrapper{
    display: flex;
    gap: 20px;
    margin-left: 222px;
    margin-bottom: 70px;
    z-index: 1;

}

.gallery{
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior:smooth;
    border-bottom:#191919 solid 1.5px;
    cursor:url(move.svg),auto;
    -webkit-overflow-scrolling: touch;
}
    
  
.item {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 750px;
    aspect-ratio: 50 / 79;
    font-size: 2rem;
    overflow: hidden;
}


.one{
    background-image: url(projekt_1.png);  
    background-size: cover;
    background-position: center;    
}



.second{
    background-image: url(projekt_1.png);
    background-size: cover;
    background-position: center;

}

.third{
    background-image: url(projekt_3.png);
    background-size: cover;
    background-position: center;
}
.fourth{
    background-image: url(projekt_4.png);
    background-size: cover;
    background-position: center;
}
.fith{
    background-image: url(projekt_5.png);
    background-size: cover;
    background-position: center;
}
.six{
    background-image: url(projekt_6.png);
    background-size: cover;
    background-position: center;
}



.logo{
    position: fixed;
    scale: 70%;
    left: 92%;
    top: 86%;
    z-index: 999;
  }
  

  
 
  .item h3{
    margin-top: 134%;
    margin-bottom: -7%;
    color: white;
    margin-left: 5%;
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
user-select: none;

  }
.item p{
    color: white;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 7%;
    margin-right: 30%;
    user-select: none;
}


.tema{
  margin-top: 10rem;
  border-bottom: #191919 solid 1.5px;
  padding-bottom: 5rem;
}


.tema p{
  font-family: roc-grotesk,sans-serif; 
text-align: end;
margin-right: 2rem;
margin-top: -1rem;
}


.tema_indhold{
margin-top: 5rem;
display: grid;
grid-template-columns: 1fr 1fr;
}

.right p{
  text-align: left;
  margin-left: 5rem;
}

.right h3{
  text-align: left;
  margin-left: 5rem;
  font-family: roc-grotesk,sans-serif; 
  margin-bottom: 2rem;

}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left{
  margin-left: 5rem;
}

.categories p{
  border: #191919 solid 1.5px;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.2s ease;
}


.categories{
  display: flex;
  
}

.categories :hover{
  color: #f7f6f1;
  background-color: #191919;
transition: 0.2s ease;
}


.img_container{
overflow: hidden;
transition: 0.2s;
}

.img_container :hover {
  scale: 1.1;
  transition: 0.2s;
cursor: pointer;
}

img{
  transition: 0.2s ease;
}










.linje1{
  margin-top: 0;
  margin-bottom: 0;
height: 70px;
width: 1.5px;
background-color: #191919;
position: fixed;
top: 0;
left: 82%;

}
.linje2{
  margin-top: 0;
  margin-bottom: 0;
height: 70px;
width: 1.5px;
background-color: #191919;
position: fixed;
top: 0;
left: 33.5%;

}


