*{
margin: 0;
}


img{
    width: 100%;
box-sizing: border-box;
}

body{
    background-color: #f7f6f1;
    height: 3000px;
    margin: 0;
}


header {
    background-color:#f7f6f1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }

  li {
    list-style: none;
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#191919;
    font-size: 1.2rem;
  
  }

  li :hover{
    transition: 2s ease;
border-bottom: #191919 solid 5px;
transition: 0.5s;
  }

  
  
  a {
    color:#191919;
    text-decoration: none;

  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: #191919 solid 1.5px;

  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;

  }
  
  .nav-branding {
    font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    padding-right: 2rem;
color: #191919;
  }

  
  .nav-link {
    transition: 0.7 ease;
  }
  

  
  .hamburger {
    display: none;
  }
  
  @media (max-width: 800px) {
    .hamburger {
      display: block;
    }
  
    li {
      list-style: none;
      font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 100;
      font-style: normal;
      color:#f7f6f1;
      font-size: 2rem;
    }
  
    .bar1 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #191919;
    }
    .bar2 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #191919;
    }
    .bar3 {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #191919;
    }
  
    .bar2.active {
      opacity: 0;
    }
  
    .bar1.active {
      transform: translateY(8px) rotate(45deg);
    }
  
    .bar3.active {
      transform: translateY(-8px)  rotate(-45deg); 

    }
  
    .nav-menu {
      position: fixed;
      transform: translatex();
      left: -130%;
      top: 50px;
      gap: 0;
      flex-direction: column;
      background-color:#191919;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      padding-left: 0;
    }
  
    .nav-item {
      margin: 16px;
    }
  
    .nav-item a {
      color: #f7f6f1;
    }
  

  
    .nav-menu.active {
      left: 0;
      transition: 0.3s ease-in-out;
    }
  }

  
h1{
    color: #191919;
    font-family: roc-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
text-transform: uppercase;
margin: auto;
}
.heading_img_wrapper{
  height: 660px;
  overflow: hidden;

}

.heading_img_wrapper img{
width: 34%;
height: 100%;

}
.heading_wrapper{
  overflow: hidden;
  height: 160px;
  width: 100%;
  border-bottom: #191919 solid 1.5px;
  border-top: #191919 solid 1.5px;
padding: 0;
}

.heading_text{
animation-name: reel;
animation-duration: 5s;
}




h2{
    color: #191919;
    font-family: roc-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
  font-size: 4rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
    text-align: end;
}





/******Projekter*****/

.wrapper{
    display: flex;
    gap: 20px;
    margin-left: 2rem;
    margin-bottom: 70px;
    z-index: 1;
    margin-right: 5rem;


}

.gallery{
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior:smooth;
    border-bottom:#191919 solid 1.5px;
    cursor:url(move_white.svg),auto;
}
    
  
.item {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 600px;
    aspect-ratio: 50 / 79;
    font-size: 2rem;
    overflow: hidden;
    cursor:url(move_white.svg),auto;

}



.one{
  background-color:#191919;
}
.second{
background-color: #769acf;
    background-size: cover;
    background-position: center;

}

.third{
    background-image: url(projekt_3.png);
    background-size: cover;
    background-position: center;

}
.fourth{
    background-image: url(projekt_4.png);
    background-size: cover;
    background-position: center;

}
.fith{
    background-image: url(projekt_5.png);
    background-size: cover;
    background-position: center;
}
.six{
    background-image: url(projekt_6.png);
    background-size: cover;
    background-position: center;
}



.logo{
    position: fixed;
    scale: 70%;
    left: 92%;
    top: 86%;
    z-index: 999;
  }
  

 a button{
  display: flex;
padding: 0.6rem 1rem 0.6rem 1rem;
text-align: center;
font-family: roc-grotesk,sans-serif;
font-weight: 400;
font-size: 1rem;
background-color: transparent;
border: #191919 solid 1.5px;
color: #191919;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 0rem;
  border-radius: 20px;
  transition: 0.2s ease;
cursor: pointer;
margin-top: 1rem;
}

a svg{
  margin-top: -3.5rem;
  rotate: 135deg;
  margin-left: -3rem;
  margin-bottom: -3.7rem;
  margin-right: -3.7rem;
visibility: hidden;
}

button :hover svg{
  visibility:visible;
}

  button:hover{
    background-color: #191919; 
    padding-right: 1rem;
    color: #f7f6f1;
  }
  
  .item{
    display:flex;
    flex-direction:column;
    justify-content: end;

  }

.image_container img{
  position: relative;
  left: -40%;
  top: 160px;
rotate: -20deg;
  width: 250%;
  padding-bottom: 2rem;
}

.item :hover img{
  rotate: 0deg;
  left: -73%;
}



 
  .item h3{
margin: 0;
font-size: 2rem;
    color:#f7f6f1;
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
user-select: none;

  }




.item p{
  margin-left: 1.7rem;
  color:#f7f6f1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    user-select: none;
    margin-top: 0;
    margin-bottom: 1rem;
}






/******* tema-section ************/







.tema{
  margin-top: 5rem;
  border-bottom: #191919 solid 1.5px;
  padding-bottom: 5rem;
}


.tema p{
  font-family: roc-grotesk,sans-serif; 
text-align: end;
margin-right: 5rem;
margin-top: -1rem;
}

.overskrift p{
  margin-top: -3rem;

}

.tema_indhold{
margin-top: 2rem;
display: grid;
grid-template-columns: 1fr 1fr;
}

.right p{
  text-align: left;
}

.right h3{
  text-align: left;
  font-family: roc-grotesk,sans-serif; 
  margin-bottom: 2rem;

}

.right{
  margin-left: 5rem;
margin-top: auto;
margin-bottom: auto;
}

.left{
  margin-left: 5rem;
}

.categories p{
  border: #191919 solid 1.5px;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.2s ease;
margin: 0;
}


.categories{
  display: flex;
justify-content: end;
gap: 1rem;
margin-right: 5rem;
}

.categories :hover{
  color: #f7f6f1;
  background-color: #191919;
transition: 0.2s ease;
}


.img_container{
overflow: hidden;
transition: 0.2s;
background-color: #191919;
display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 1rem;
}

.img_container :hover {
  scale: 1.1;
  transition: 0.2s;
cursor: pointer;
}

img{
  transition: 0.2s ease;
}



.pin{
  width: 150%;
}






