*{
margin: 0;
}

html{
  --primary:#f7f6f1;
  --secondary:#191919;
  --border:  #191919 solid 1.5px;
}

img{
    width: 100%;
box-sizing: border-box;
}

body{
    background-color: var(--primary);
    margin: 0;
   
    margin-left: auto;
    margin-right: auto;
  
}



  
h1{
  color:  var(--secondary);
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
text-transform: uppercase;
margin: auto;
}


h2{
  color:  var(--secondary);
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

h3{
  margin-left: 1rem;

    text-align: left;
    font-family: roc-grotesk,sans-serif; 
    margin-top: 1rem; 
}



/********Knap******/



.button{
  display: flex;
  gap: 0.3rem;
padding: 0.6rem 1rem 0.6rem 1rem;
text-align: center;
font-family: roc-grotesk,sans-serif;
font-weight: 400;
font-size: 1rem;
background-color: var(--secondary);
border:  var(--secondary) solid 1.5px;
color:  var(--primary);
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  transition: 0.5s ease;
cursor: pointer;

}

a{
  cursor: pointer;
}
.button_container{
  display: flex;
  justify-content: flex-start;
}

.button:hover{
  background-color:  var(--secondary); 
  color: var(--primary);
overflow: hidden;
transition: 0.5s ease;
}

.button .text{
  z-index: 2;
  background-color: var(--secondary);
}


.button .link_arrow{
  pointer-events: none; 
  opacity: 100%;
  transition: 0.5s ease;


}
.button .link_arrow svg polygon {
  fill: var(--secondary); 

}

.button .link_arrow svg line {

  stroke: var(--secondary);
}


.button:hover .link_arrow svg polygon {
  fill: var(--primary);

}

.button:hover .link_arrow svg line {

  stroke: var(--primary);
}


.hide_1{

  margin-left: -1rem;

}

a svg{
  margin-top: -3.5rem;
  transform: rotate(135deg) ;
  margin-left: -3.5rem;
  margin-bottom: -3.7rem;
  margin-right: -3.7rem;
  fill: var(--secondary);

}




/********Header******/

header {
    background-color:var(--primary);
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }

  li {
    list-style: none;
    font-family: roc-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    font-size: 1.2rem;
  
  }

  li :hover{
    transition: 2s ease;
border-bottom:  var(--secondary) solid 5px;
transition: 0.5s;
  }

  
  
  a {
    color: var(--secondary);
    text-decoration: none;

  }
  
  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom:  var(--secondary) solid 1.5px;

  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;

  }
  
  .nav-branding {
   width: 2.5rem;
   padding-bottom: 1rem;
   padding-top: 1rem;
    padding-right: 2rem;
  }

  .nav-branding img:hover{
    transform: rotate(45deg) ;
  
    transition: 0.7s ease;
  }

  
  .nav-link {
    transition: 0.7s ease;
  }
  

  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  

  





.heading_img_wrapper{
  height: 660px;
  overflow: hidden;
background-color:  var(--secondary);
margin-left: 1rem;
margin-right: 1rem;
margin-top: 6rem;
border-radius: 2rem;
display: flex;
justify-content: center;
background-image: url(profil_placeholder.jpg);
background-size: cover;
background-position-x: center;
}



.display{
animation-name: display;
animation-duration: 3s;
animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
animation-iteration-count: 1;
}


@keyframes display{
  from{
    height: 0px;
  } 
    to{
      height:660px;
    }
  }




.heading_img_wrapper img{
width: 35%;
animation-name: rotate;
animation-duration: 7s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes rotate{
  to{
    transform: rotate(-360deg);
  }
}



.heading_wrapper{
  overflow: hidden;
  height: 160px;
  width: 100%;
  border-bottom:  var(--secondary) solid 1.5px;
  border-top:  var(--secondary) solid 1.5px;
padding: 0;
}

.heading_text{
animation-name: reel;
animation-duration: 5s;
}








/******Projekter*****/

.wrapper{
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
    z-index: 1;



}

.gallery{
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior:smooth;
    cursor:url(move_white.svg),auto;

}

section{
  border-bottom:  var(--secondary) solid 1.5px;
}
    
  
.item {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 600px;
    aspect-ratio: 50 / 79;
    font-size: 2rem;
    overflow: hidden;
    cursor:url(move_white.svg),auto;
    border-radius: 15px;


  }
.se_alle{
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;


}


.one{
  background-color: var(--secondary);
}
.second{
background-color: #1b2636;
    background-size: cover;
    background-position: center;

}

.third{
    background-image: url(projekt_3.png);
    background-size: cover;
    background-position: center;

}
.fourth{
    background-image: url(projekt_4.png);
    background-color: #1b2636;
    background-size: cover;
    background-position: center;

}
.fith{  
    background-color: #1b2636;
    background-image: url(zielinskis.png);
    background-size: cover;
    background-position: center;
}
.six{
    background-image: url(pilotsite.JPG);
    background-size: cover;
    background-position: center;
}




  .item{
    display:flex;
    flex-direction:column;
    justify-content: end;
    }

.item_png{
  z-index: 1;
}


.last{
  padding-right: 1rem;
}



  .image_container img{
    position: relative;
    top: 12%;
    transform: rotate(-10deg) ;
left: 17%;
    width: 80%;
    margin-bottom: 2rem;
    
  }
  .item h3{
    margin: 0;
    font-size: 1.5rem;
        color:var(--primary);
        font-family: roc-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;
    user-select: none;
    margin-left: 1rem;
    
      }
      .item p{
        color: var(--primary);
      }


p{
  color: var(--secondary);
  font-family: roc-grotesk,sans-serif;
    font-weight: 100;
    font-size: 1rem;
    user-select: none;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


.item {
  z-index: 10;
}






.tema{
  border-bottom:  var(--secondary) solid 1.5px;
  width: 100%;

}


.tema h2{
  font-size: 2rem;
}

.tema p{
  font-family: roc-grotesk,sans-serif;

  margin-right: 5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}




.overskrift .knap{
  margin-left: 1rem;
  margin-bottom: 1rem;
}


.right p{
  text-align: left;
}



.categories p{
  border:  var(--secondary) solid 1.5px;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.2s ease;
margin: 0;
}



.categories{
  display: flex;
  flex-direction:row;
margin-left: 1rem;
gap: 0.3rem;
}




.categories div{
  display: flex;
  gap: 0.1rem;
}

.white p{
  border:  var(--primary) solid 1.5px;
  color: var(--primary);
}


.text_cream{
  color: var(--primary);
}

.categories div :hover{
  color: #f7f6f1;
  background-color:  var(--secondary);
transition: 0.2s ease;
}


.img_container{
overflow: hidden;
transition: 0.2s;
background-color:  var(--secondary);
  height: 600px;
  border-radius: 1rem;
}


.img_container :hover {
  scale: 1.1;
  transition: 0.2s;
cursor: pointer;
}
.phone{
  width: 100%;
position: relative;
top: 10%;
left: 8%;
}


img{
  transition: 0.2s ease;
}



.pin{
  width: 150%;
}







.head_wrapper{
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.head_img{
height: 200px;
border-radius: 1rem;
margin: auto;
transform-origin: center;
overflow: hidden;

}

.head_img:hover img{
width: 102%;
margin: auto;
transform-origin: center;
}


@media (min-width: 800px) {

.overskrift{
  display: flex;
  justify-content: space-between;

  align-items: center;
}


.overskrift .knap{
margin: 0;
}
  .grid_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
  }
  

  .tema_indhold{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

  .right{
    margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  }

  .image_container .phone{
    position: relative;
    left: 50%;
    top: 50%;
    transform: rotate(0deg) ;
    width: 50%;
    padding-bottom: 2rem;
    
  }
  
  .item :hover .phone{
   transform: rotate(-20deg) ;
top: 40%;
left: 45%;
  }



  .item {
    flex-shrink: 0;
    align-items: start;
    aspect-ratio: 50 / 30;  
    font-size: 2rem;
    overflow: hidden;
    cursor:url(move_white.svg),auto;
    border-radius: 15px;


  }

}



/*******Om mig********/


.om_mig{
  margin-top: 85px;
  padding-bottom: 2rem;
}
.om_mig .headline{
  margin-left: 1rem;
  }


.profil_img{
background-image: url(profil_placeholder.jpg);
}

.profil{
  background-image: url(om_mig.png);
  background-size: cover;
  background-position: center;
}

.timeline{
display: grid;
grid-template-columns: 1fr 8fr;
height: 800px;
width: 100%;
}

.linje{
  background-color: #191919;
  width: 1%;
  margin-left: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.point{
  width: 20px;
  height: 20px;
background-color: var(--secondary);
}

.cv_box{

margin-right: 1rem;
margin-left: 1rem;
  border-top:  #191919 solid 1.5px;
}

.dropdown{
  display: flex;
  justify-content: space-between;
align-items: center;
}

.arrow_down_1{
  margin-right: 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.arrow_down_2{
  margin-right: 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.arrow_down_3{
  margin-right: 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.cv_box svg{
  scale: 1.2;
  cursor: pointer;
}


.dropdown_content{
  overflow: hidden;
}
.dropdown_content_1{
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.dropdown_content_2{
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.dropdown_content_3{
  overflow: hidden;
  transition: 0.5s ease-in-out;
}


.hide{
 height: 0;
 transition: 0.5s ease-in-out;
}

.active_arrow{
  transition: 0.3s ease-in-out;
  transform: rotate(180deg);
}


.dropdown_right{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown_right p{
  margin: 0;
}
.dropdown h3{
margin-bottom: 1rem;
}



@media (min-width: 1500px) {
  .heading_img_wrapper{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

  }
  .gallery{

    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  
}



@media (max-width: 800px) {

.profil{
margin-left: 1rem;
margin-right: 1rem;
}

  .hamburger {
    display: block;
  }

  li {
    list-style: none;
    font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 100;
    font-style: normal;
    color:var(--primary);
    font-size: 2rem;
  }

  .bar1 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:  var(--secondary);
  }
  .bar2 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:  var(--secondary);
  }
  .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:  var(--secondary);
  }

  .bar2.active {
    opacity: 0;
  }

  .bar1.active {
    transform: translateY(8px) rotate(45deg);
  }

  .bar3.active {
    transform: translateY(-8px)  rotate(-45deg); 

  }

 

  .nav-menu {

    position: fixed;
    left: -130%;
    top: 71px;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--secondary);
    opacity: 100%;
    width: 100%;
    text-align: center;
    transition:0.8s cubic-bezier(.77,.45,.3,1);
    padding-left: 0;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-item a {
    color: var(--primary);
  }
  .nav-item a:hover {
border: none;

  }



  .nav-menu.active {
    left: 0;
    transition:0.8s cubic-bezier(.77,.45,.3,1);
  }

.categories{
display: none;
}

}


footer{
display: grid;
grid-template-columns: 1fr 6fr;
margin-bottom: 2rem;
gap: 5rem;
}

footer img{
  width:5rem;
  margin:1rem ;
}

footer h3{
  margin: 0;
  margin-top: 1rem;
}

footer p{
  margin: 0;



}

.grid_1_1_1_1{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;

}


.grid_1_1_1_1 .side div{
display: grid;
grid-template-columns: 1fr 1fr;

}


.grid_1_1_1_1 .side div a{

display: flex;
margin-top: 1rem;
gap: 0.5rem;
}


.link_footer{
  visibility: hidden;
  transition: 0.1s ease-in-out;
}


.link_footer svg polygon{
  fill: var(--secondary); 
}
.link_footer svg line{
  stroke: var(--secondary); 
}

.side div a:hover .link_footer{
  visibility: visible;
  transition: 0.1s ease-in-out;
}


.footer_brand{
margin: auto;

}



.max_width{
  max-width: 1500px;
margin-left: auto;
margin-right: auto;
}



